<h2>Edit Your Recipe</h2>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" value= "PATCH" name="_method">
    <p><input type="string" name="recipe_name [recipe_name]"></p>
    <p><input type="string" name="recipe_name [foodpic]"></p>
    <p><input type="string" name="recipe_name [cuisine]"></p>
    <p><input type="integer" name="recipe_name [difficulty]"></p>
    <p><input type="text" name="recipe_name [directions]"></p>
    <input type="submit">
</form>


<form method="DELETE" action="/users/<%= @recipe.id %>% "> 
    <input type="hidden" value= "DELETE" name="_method">
    <input type ="submit" value="delete recipe">
</form>