<h2>Edit Your Recipe</h2>

<div class="form-container">
   <form action="/recipes/<%= @recipe.id %>" method="POST">
        <div class="form-control">
            <label for="recipe_name">Name</label>
            <input type="string" name="recipe_name[recipe_name]" required>
        </div>
        <div class="form-control">
            <label for="cuisine">Cuisine</label>
             <input type="string" name="recipe_name[cuisine]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="difficulty">Difficulty</label>
             <input type="string" name="recipe_name[difficulty]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="directions">Directions</label>
             <input type="text" name="recipe_name[directions]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="avatar">Foodpic</label>
             <input type="file" name="recipe_name[avatar]" required>
             </div>
        </div>
        <input type="submit">
    </form>
</div>

<form method="DELETE" action="/users/<%= @recipe.id %>% "> 
    <input type="hidden" value= "DELETE" name="_method">
    <input type ="submit" value="delete recipe">
</form>



