<h1> Create a Recipe </h1>

<form action="/recipes" method="post">
    <input type="text" name="recipe_name">
    <textarea name="directions" ></textarea>
    <input type="submit" value="create recipe">
</form>
