<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<h1>Create a Recipe</h1>


<div class="form-container">
    <form action="/recipes" method="post" enctype="multipart/form-data">
        <div class="form-control">
            <label for="recipe_name">Name</label>
            <input type="string" name="recipe[recipe_name]" required>
        </div>
        <div class="form-control">
            <label for="cuisine">Cuisine</label>
             <input type="string" name="recipe[cuisine]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="difficulty">Difficulty</label>
             <input type="string" name="recipe[difficulty]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="directions">Directions</label>
             <input type="text" name="recipe[directions]" required>
             </div>
        </div>
        <div class="form-control">
            <label for="avatar">Picture</label>
            <input type="file" name="avatar" required>
        </div>
            <label for="value">Ingredients</label>
            <label> Existing ingredients</label>
            <select name="ingredient" id="ingredient">
            <% Ingredient.all.each do |n|%>

            <option value="<%=n.value%>"><%=n.value%></option>
            <%end%>

</select>
           <input type="text" name="ingredients[][name]" required>
           <input type="text" name="ingredients[][value]" required>
           <br>
           <input type="text" name="ingredients[][name]" required>
           <input type="text" name="ingredients[][value]" required>
           <br>
       <input type="text" name="ingredients[][name]" required>
           <input type="text" name="ingredients[][value]" required>
           <br>
        </div>
        <br />
        <input type="submit">
    </form>
</div>


