<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<h2>Edit Your Profile</h2>

<div class="form-container">
    <form action="/users/<%=@user.id%>" method="POST">
        <input type="hidden" value= "PATCH" name="_method">

        <div class="form-control">
            <label for="avatar">Profile Picture</label>
             <input type="file" name="user[avatar]" required>
             </div>
        </div>
        <div class="form-group">
            <label for="about">About</label>
            <input type="text" name="user[about]" id="about" class="form-control" required>
        </div>

        <input type="submit" value="edit user">

    </form>

</div>


<form method="POST" action="users/<%=@user.id%>"> 
    <input type="hidden" value= "DELETE" name="_method">
    <input type ="submit" value="delete profile">
</form>
    
    