<h2>Edit Your Profile</h2>

<form action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" value= "PATCH" name="_method">
    <p><input type="string" name="avatar"></p>
    <p><input type="text" name="about"></p>
    <input type="submit">
</form>


<form method="DELETE" action="/users/<%= @user.id %>% "> 
    <input type="hidden" value= "DELETE" name="_method">
    <input type ="submit" value="delete profile">
</form>