<h2>Edit Your Profile</h2>

<form action="/users/:id/show" method="POST">
<input type="text" name="avatar" placeholder="Profile Pic"><br>
<input type="text" name="about" placeholder="About me"><br>
<input type="submit">
</form>