<h1>Create a Profile</h1>

<form action="/users" method="POST">
    <p><input type="string" name="username[avatar]" placeholder="avatar"></p>
    <p><input type="string" name="username[username]" placeholder="username"></p>
    <p><input type="string" name="username[email]" placeholder="email"></p>
    <p><input type="string" name="username[password]" placeholder="password"></p>
    <p><textarea name="about" placeholder="Tell us about yourself" ></textarea></p>
    <p><input type="submit" value="create user"></p>
</form>

