<h1>Create a Profile</h1>

<form action="/newuser" method="get">
    <input type="text" name="user_name">
    <textarea name="about" ></textarea>
    <input type="submit" value="create user">
</form>
