<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<a href="/logout" class="btn btn-success">Logout</a>

<div class="card" style="width: 18rem;">
  <img src="<%=@user.avatar%>" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title"><%=@user.username%></h5>
    <p class="card-text"><%=@user.about%></p>
    <a href="<%=@user.id%>/edit>" class="btn btn-primary">Edit Profile</a>
  </div>
</div>

<p><a href="/recipes/new">Create new recipe</a></p>
<p><a href="recipes">View My Recipes</a></p>
<p><a href="/recipes">View All Recipes</a></p>