
<h1><%=@user.username%></h1>
<p><%=@user.avatar%></p>
<p><%=@user.about%></p>

<a href="<%=@user.id%>/edit">Edit Profile</a>

<p><a href="/recipes/new">Create new recipe</a></p>
<p><a href="recipes">View My Recipes</a></p>
<p><a href="/recipes">View All Recipes</a></p>

