<h1>Create an Ingredient</h1>

<form action="/recipes/id" method="post">
    <input type="hidden" value= "PATCH" name="_method">
    <p><input type="string" name="recipe_name"></p>
    <p><input type="string" name="foodpic"></p>
    <p><input type="string" name="cuisine"></p>
    <p><input type="integer" name="difficulty"></p>
    <p><input type="text" name="directions"></p>
    <input type="submit">
</form>

