<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>



<h1>My Recipes</h1>

<p>Welcome to My Recipes</p>
<p> Please login or Sign UP!</p>
<form action="/login" method="post">
<input type="text" name="username" placeholder="Username"><br>

<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="login">
</form>
<a class="btn btn-primary" href=/signup>Signup</a> 