
<blockquote class="blockquote text-center">  
<img src="https://static.wikia.nocookie.net/cuphead/images/0/0e/CupheadTheDevilPhase2.png/revision/latest/scale-to-width-down/1000?cb=20201101190916" class="img-fluid" alt="Responsive image">
<h1>By clicking this button your soul is now property of MyRecipes</h1>
<a href="/signup" class="btn btn-danger">Take it</a>
</blockquote>





